@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-body;
}

a,
a:any-link {
  @apply font-semibold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply tracking-wide;
}

.github-corner:hover .octo-arm{
  animation:octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave{
  0%,100%{
    transform:rotate(0);
  }
  20%,60%{
    transform:rotate(-25deg);
  }
  40%,80% {
    transform:rotate(10deg);
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm{
    animation:none;
  }

  .github-corner .octo-arm {
    animation:octocat-wave 560ms ease-in-out;
  }
}
